// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.background { 
  background: url("http://ofcoursenewyork.files.wordpress.com/2011/03/nycaerial.jpg") no-repeat fixed;
  background-size: 100%;
}
